<!-- ======= My Experience ======= -->
<section id="education" class="resume">
  <div class="container">
    <div class="section-title">
      <span>Education</span>
      <h2>Education</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle" src="../assets/img/ugr_logo.png" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2004</h4>
                    <h4 class="subheading"> Bachelor of Engineering in Computer Science (UGR) </h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li >
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2008</h4>
                    <h4 class="subheading"> Master of Engineering in Computer Science. (UGR)</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2010</h4>
                    <h4 class="subheading">Master of Engineering in Computer Architectures and Networks (UGR)</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015</h4>
                    <h4 class="subheading"> PhD. Thesis Title: “Implementation of Models for Image Processing Applications with Real-Time Constraints.</h4>
                    <h4 class="subheading"><b> Cum Laude.</b></h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>
 

              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/csic_logo.jpeg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2024-Current</h4>
                    <h4 class="subheading"> Post Doc. MOTHER: iMage classificatiOn in THe Extreme univeRse.</h4>
                  </div>
                </div>
                 
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div

</section><!-- End My Resume Section -->
