<!-- ======= My Experience ======= -->
<section id="education" class="resume">
  <div class="container">
    <div class="section-title">
      <span>Education</span>
      <h2>Education</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              
              <!-- <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle" src="../assets/img/ugr_logo.png" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2004</h4>
                    <h4 class="subheading"> Bachelor of Engineering in Computer Science (UGR) </h4>
                  </div>
                </div>
                <div class="line"></div>
              </li> -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle" src="../assets/img/ugr_logo.png" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2004</h4>
                    <h4 class="subheading">Bachelor of Engineering in Computer Science (UGR)</h4>
                  </div>
                  <!-- Contenedor oculto para la lista -->
                  <div class="hidden-list">
                    <ul>
                      <li>Statistics, Databases, Data Structures, Structure and Computer Technology, Mathematical Analysis.</li>
                      <li>Numerical Calculation, Algebra and Discrete Structures, Software Engineering, Programming Methodology.</li>
                      <li>Algorithms and Theory, Operating Systems, Accounting, Business Economics, Fundamentals of Logic Programming.</li>
                      <li>Fundamentals of Computer Technology, Introduction to Computer, Discrete Mathematics.</li>
                      <li>Computer Models, Database Programming, Computer Networks, Computer Audit.</li>
                      <li>User Interface Design, Design and Evaluation of Settings, Physical Fundamentals of Computing. Maintenance of Computers, Geographic Information Systems.</li>
                    </ul>
                  </div>
                </div>
                <div class="line"></div>
              </li>
            <!-- ______________________________________________ --> 
              <!-- <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2010</h4>
                    <h4 class="subheading">Master of Engineering in Computer Architectures and Networks (UGR)</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li> -->

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2010</h4>
                    <h4 class="subheading">Master of Engineering in Computer Architectures and Networks (UGR)</h4>
                  </div>
                  <!-- Contenedor oculto para la lista -->
                  <div class="hidden-list">
                    <ul>
                      <li>Computer Architecture and Engineering, Software Engineering, Artificial Intelligence, Languages Processors.</li>
                      <li>Data Communication And Computer Networks, Bioinformatics, Programmable Logic Controllers.</li>
                      <li>Automatic Design Of Digital Systems, Microelectronics Circuit Design, Applied Physics.</li>
                      <li>Pattern Recognition, Industrial Robotics, Digital Control Systems, Automatic Synthesis VLSI Architectures.</li>
                      <li>Computer Aided Design, Applied Industrial Electronics, Industrial Computers, Electrical Technology.</li>
                    </ul>
                  </div>
                </div>
                <div class="line"></div>
              </li>


              <!-- <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015</h4>
                    <h4 class="subheading"> PhD. Thesis Title: “Implementation of Models for Image Processing Applications with Real-Time Constraints.</h4>
                    <h4 class="subheading"><b> Cum Laude.</b></h4>
                  </div>
                </div>
                <div class="line"></div>
              </li> -->
 
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/ugr_logo.png" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015</h4>
                    <h4 class="subheading">PhD. Thesis Title: “Implementation of Models for Image Processing Applications with Real-Time Constraints.</h4>
                    <h4 class="subheading"><b>Cum Laude.</b></h4>
                  </div>
                  <!-- Contenedor oculto para el texto -->
                  <div class="hidden-list">
                    <p>For further information, please read the research period in Work section.</p>
                    <p>Performed 7 months of stay in the University of Linköping (Linköping, Sweden) with the professor Michael Felsberg in the Computer Vision Lab.</p>
                  </div>
                </div>
                <div class="line"></div>
              </li>


              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/csic_logo.jpeg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2024-Current</h4>
                    <h4 class="subheading"> Post Doc. MOTHER: iMage classificatiOn in THe Extreme univeRse.</h4>
                  </div>
                  <!-- Contenedor oculto para el texto -->
                  <div class="hidden-list">
                    <p>Deep Learning approach for High Energies reconstruction</p>

                  </div>
                </div>
                 
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- End My Resume Section -->
