<!-- ======= My Experience ======= -->
<section id="experience" class="resume" style="margin-bottom: 50px;">
 
  <div class="container">
    <div class="section-title">
      <span>Experience</span>
      <h2>Professional Experience</h2>
    </div>

    <ul class="timeline">


      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/freelance.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2003 – 2010</h4>
            <h4 class="subheading">Freelance Software Developer</h4>
          </div>
          <div class="timeline-body" style="font-size: 0.65em;">
            <p><strong><a href="http://www.sevensols.com" target="_blank">Seven Solutions:</a></strong> Embedded device software (ARM/Linux), Camera parameter estimation.<br>
            <strong><a>Grupo Contrat:</a></strong> Geo-location software, project management software (C++ Builder/Firebird DB).<br>
            <strong>Reformas Nevasur:</strong> Administrative task software (C++ Builder/Firebird DB).<br>
            <strong><a href="http://www.abroadlink.com" target="_blank">AbroadLink:</a></strong> Information extraction software (C++ Builder/Firebird DB).<br>
            <strong><a href="http://lapresentacion.com" target="_blank">Colegio la Presentación:</a></strong> Administrative software for education management.
          </div>
        </div>
        <div class="line"></div>
      </li>
            
      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/doppelmayr.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Jul 2000 – Jul 2005</h4>
            <h4 class="subheading">Software Developer & Technical Engineer at Doppelmayr Spain</h4>
            <a href="http://www.doppelmayr.com" target="_blank">www.doppelmayr.com</a>
          </div>
          <div class="timeline-body">
            <p>Software development, technical translations, electric and electronic installations, documentation.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/citic.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Jul 2008 – Mar 2014</h4>
            <h4 class="subheading">Researcher at CITIC, Granada, Spain</h4>
            <a href="http://citic.ugr.es/" target="_blank">citic.ugr.es</a>
          </div>
          <div class="timeline-body">
            <p>Ultrasound imaging, GPU (OpenCL, CUDA), real-time biomedical imaging, driver assistance systems.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/msgsystems.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Mar 2014 – Dic 2014</h4>
            <h4 class="subheading">Software Consulter at MSG SYSTEMS AG</h4>
            <a href="http://www.msg-systems.com" target="_blank">www.msg-systems.com</a>
          </div>
          <div class="timeline-body">
            <p>Syntactic code analysis, error corrections, maintenance.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/adasens.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>May 2015 – Jul 2016</h4>
            <h4 class="subheading">Computer Vision Engineer at Adasens Automotive GmbH</h4>
            <a href="http://www.adasens.com" target="_blank">www.adasens.com</a>
          </div>
          <div class="timeline-body">
            <p>Embedded software (Tegra), Lane detection, Drowsiness detection, Dirtiness detection, Lane Change Assistance.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/denso.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Oct 2016 – Jan 2021</h4>
            <h4 class="subheading">Computer Vision Engineer at DENSO ADAS Engineering Services GmbH</h4>
            <a href="https://www.denso.com" target="_blank">www.denso.com</a>
          </div>
          <div class="timeline-body">
            <p>Embedded software, code optimization, Computer Vision research, Eyelid detection, Lane Change Assistance, Structure from Motion, SLAM.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/oosto.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Mar 2021 – Sep 2022</h4>
            <h4 class="subheading">Computer Vision Engineer at Oosto (Formerly Anyvision)</h4>
            <a href="http://www.oosto.com" target="_blank">www.oosto.com</a>
          </div>
          <div class="timeline-body">
            <p>Deep learning optimization, ARM architectures, embedded GPUs, DSPs, DL network optimization, Honeywell camera integration.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/ubyko.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>May 2023 – March 2024</h4>
            <h4 class="subheading">AI Director at Ubyko</h4>
            <a href="http://www.ubyko.com" target="_blank">www.ubyko.com</a>
          </div>
          <div class="timeline-body">
            <p>Deep learning, Point Cloud, 3D Geometry.</p>
          </div>
        </div>
        <div class="line"></div>
      </li>

      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-responsive" src="../assets/img/ubyko.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>May 2024 – Present</h4>
            <h4 class="subheading">Post Doc. MOTHER: iMage classificatiOn in THe Extreme univeRse</h4>
            <a href="https://www.iaa.csic.es/" target="_blank">https://www.iaa.csic.es/</a>
          </div>
          <div class="timeline-body">
            <p>Reconstruction of High Energies using Cherenkov Telescope Arrays using Deeplearning.</p>
          </div>
        </div>
    
      </li>
    </ul>
  </div>
</section><!-- End My Experience Section -->
