<!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
        </div>

        <!-- <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">Default</li>
          <li data-filter=".filter-app">Newest First</li>
          <li data-filter=".filter-card">Oldest First</li>
        </ul> -->

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-cv">Computer Vision</li>
          <li data-filter=".filter-dl">Deep Learning</li>
          <li data-filter=".filter-robot">Robotic</li>
          <li data-filter=".filter-simulation">Simulation</li>
          <!-- <li data-filter=".filter-app">App</li> -->
        </ul>

        <div class="row portfolio-container">
          <!--  Eye Simulation-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-simulation"  data-date-order="1">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/EyeLidSimulator-ELS/raw/main/images/python_output.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>ELS: EyeLidSimulator</h4>
              <p>Simulation</p>
              <a href="https://github.com/Pablitinho/EyeLidSimulator-ELS/" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

           <!-- Computer Vision GPU  -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-cv" data-date-order="13">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/GPU_CV/raw/master/results/piano.JPG" class="img-fluid" alt="" ></div>
            <div class="portfolio-info">
              <h4>Computer Vision GPU Frame Work</h4>
              <p>Computer Vision</p>
              <a href="https://github.com/Pablitinho/GPU_CV" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

           <!-- Semantic Segmentation -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl" data-date-order="12">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Udacity_Segmantic_Segmentation/raw/master/images/gif_modificated_resized.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Semantic Segmentation</h4>
              <p>Deep Learning</p>
              <a href="https://github.com/Pablitinho/Udacity_Segmantic_Segmentation" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- vehicle detection -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-cv  " data-date-order="11">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Car_detection/blob/master/images/detection_heat_map_3.jpg?raw=true" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vehicle Detection using Classical Computer vision</h4>
              <p>Computer Vision</p>
              <a href="https://github.com/Pablitinho/Car_detection/blob/master/writeup.md" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- MPC -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot" data-date-order="10">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Udacity_Term2_MPC/raw/master/model.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Model predictive control (MPC)</h4>
              <p>robot</p>
              <a href="https://github.com/Pablitinho/Udacity_Term2_MPC" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- PID -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot" data-date-order="10">
            <div class="portfolio-img"><img src="assets/img/pid.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Proportional–integral–derivative controller (PID)</h4>
              <p>robot</p>
              <a href="https://github.com/Pablitinho/Udacity_Term2_MPC" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- Lane detection-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-cv" data-date-order="10">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Advanced_Lane_lines/blob/master/output_images/output_detection.JPG?raw=true" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Lane Detection</h4>
              <p>Computer Vision</p>
              <a href="https://github.com/Pablitinho/Advanced_Lane_lines/blob/master/writeup.md" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!--  Behavioral Cloning -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-robot"  data-date-order="2">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Behavioral-Cloning/raw/master/images/image_center.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Behavioral Cloning</h4>
              <p>Deep Learning</p>
              <a href="https://github.com/Pablitinho/Behavioral-Cloning/blob/master/writeup_report.md" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  Traffic Sign Recognition -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-cv"  data-date-order="1">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Udacity_Traffic_Sign_Recognition/raw/master/images/writeup/120_result.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Traffic Sign Recognition</h4>
              <p>Deep Learning</p>
              <a href="https://github.com/Pablitinho/Udacity_Traffic_Sign_Recognition/blob/master/writeup.md" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  EKF Sensor Fusion -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot"  data-date-order="1">
            <div class="portfolio-img"><img src="assets/img/ekf_sensor_fusion.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>EKF Sensor Fusion</h4>
              <p>robot</p>
              <a href="https://github.com/Pablitinho/Udacity_Term2_EKF/tree/master" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  Eye Tracking -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-cv"  data-date-order="1">
            <div class="portfolio-img"><img src="assets/img/eye_tracking.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Eye Tracking</h4>
              <p>Deep Learning</p>
              <a href="https://www.youtube.com/watch?v=4uy_GZZsuAQ&list=PLKvAya8WilmCIv2aez6zyPJYAfysgCHMW" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div> -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-cv" data-date-order="1">
            <div class="portfolio-img">
              <div class="video-container" data-video-id="4uy_GZZsuAQ">
                <img src="https://img.youtube.com/vi/4uy_GZZsuAQ/hqdefault.jpg" class="img-fluid video-thumbnail" alt="Eye Tracking">
                <div class="play-button"></div>
              </div>
            </div>
            <div class="portfolio-info">
              <h4>Eye Tracking</h4>
              <p>Deep Learning</p>
              <a href="https://www.youtube.com/watch?v=4uy_GZZsuAQ&list=PLKvAya8WilmCIv2aez6zyPJYAfysgCHMW" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!-- vehicle detection -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-cv filter-dl" data-date-order="11">
            <div class="portfolio-img"><img src="https://github.com/Pablitinho/Intel_Lesson_4/raw/master/ouput.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vehicle Detection using DL and OpenVino</h4>
              <p>Computer Vision</p>
              <a href="https://github.com/Pablitinho/Intel_Lesson_4" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>
 
          <!-- Pose Estimation -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-cv filter-dl" data-date-order="11">
            <div class="portfolio-img"><img src="assets/img/pose_estimation.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Pose Estimation on TensorRT</h4>
              <p>Computer Vision</p>
              <a href="https://www.youtube.com/watch?v=Hc9b1ffHU1Y" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div> -->

          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-cv" data-date-order="1">
            <div class="portfolio-img">
              <div class="video-container" data-video-id="Hc9b1ffHU1Y">
                <img src="https://img.youtube.com/vi/Hc9b1ffHU1Y/hqdefault.jpg" class="img-fluid video-thumbnail" alt="Pose Estimation">
                <div class="play-button"></div>
              </div>
            </div>
            <div class="portfolio-info">
              <h4>Pose Estimation on TensorRT</h4>
              <p>Deep Learning</p>
              <a href="https://www.youtube.com/watch?v=Hc9b1ffHU1Y&list=PLKvAya8WilmCIv2aez6zyPJYAfysgCHMW" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!-- Optical Flow -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-cv" data-date-order="11">
            <div class="portfolio-img"><img src="assets/img/optical_flow.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Total Variation: Optical Flow</h4>
              <p>Computer Vision</p>
              <a href="https://www.youtube.com/watch?v=iXgbpVPNmVw" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div>          
        </div> -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-cv" data-date-order="1">
          <div class="portfolio-img">
            <div class="video-container" data-video-id="iXgbpVPNmVw">
              <img src="https://img.youtube.com/vi/iXgbpVPNmVw/hqdefault.jpg" class="img-fluid video-thumbnail" alt="Pose Estimation">
              <div class="play-button"></div>
            </div>
          </div>
          <div class="portfolio-info">
            <h4>Total Variation: Optical Flow</h4>
            <p>Computer Vision</p>
            <a href="https://www.youtube.com/watch?v=Computer Vision&list=PLKvAya8WilmCIv2aez6zyPJYAfysgCHMW" class="details-link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
            <p class="icon-caption"></p>
          </div>
        </div>

      </div>
    </section><!-- End My Portfolio Section -->
