<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- include head.html -%}


    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}


    <script>
      window.addEventListener('resize', function() {
          var portfolioFilters = document.querySelector('#portfolio-flters');
          if (portfolioFilters) { // Verifica si el elemento existe
              if (window.innerWidth <= 992) {
                  portfolioFilters.classList.add('responsive');
              } else {
                  portfolioFilters.classList.remove('responsive');
              }
          }
      });
    </script>    
  </body>

</html>
