<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div id="rotate-message">
      🔄 Please, rotate the device to watch this website properly.
  </div>

  <div id="content">
      {%- include header.html -%}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
  </div>
    <!-- {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%} -->

  </body>

</html>
